.nav-slider
  margin-bottom 10px
  padding 12px 110px
  
  border-bottom 1px solid #fed631
  
.nav-slider__content
  position relative
  .owl-nav
    position absolute
    top 0
    left: -65px;
    right: -65px;
    
    display flex
    justify-content space-between
    height 1px
    margin auto
  .owl-prev,
  .owl-next
    position relative
    
    width 50px
    height 50px
    
    background #fed750 !important
    
    border-radius 50% !important
    span
      center-absolute()
      bgs(24px, 24px)
      bgi('down-arrow2.svg')
      
      display block
      
      transform rotateZ(90deg)
      &::before,
      &::after
        display none
    &:hover
      background #fed750 !important
  .owl-prev
    &.disabled
      background #f2f2f7 !important
    

.nav-slider__slide
  a
    font('Proxima Nova Rg', 17px, 400, #36383e, true)
    
    position relative
    
    display block
    padding: 14px 0;
    padding-bottom: 15px;
    
    text-align center
    
    background-color #eeeef7
    
    border-radius 5px
    
    transition 0.2s ease
    &:hover
      color #ffffff
      
      background-color #7fba28
      span
        color #ffffff
    span
      font('Proxima Nova Rg', 17px, 400, #75d01c)
      
      position absolute
      top 4px
      right 6px
    &.active
      color #ffffff
      
      background-color #7fba28
      span
        color #ffffff
        
@media(max-width 1360px)
  .nav-slider
    padding: 12px 60px;
    
  .nav-slider__slide a
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0;
    
  .nav-slider__slide a span
    font-size: 14px;
    line-height: 18px;
    
  .nav-slider__content .owl-nav
    left: -45px;
    right: -45px;
    
  .nav-slider__content .owl-prev, .nav-slider__content .owl-next
    width: 35px;
    height: 35px;
    
  .nav-slider__content .owl-prev span, .nav-slider__content .owl-next span
    width: 17px;
    height: 17px;
    background-size: 17px 17px
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        
        
        