@import 'blocks/slider/owl.carousel.css';
@import 'blocks/slider/owl.theme.default.css';
@import 'blocks/main/reset-owl.styl';
@import 'blocks/datapicker/datepicker.css';
@import 'blocks/timepicker/jquery.timepicker.css';
// components
@import 'blocks/page-header.styl';
@import 'blocks/page-content.styl';
@import 'blocks/nav-slider.styl';
@import 'blocks/bread.styl';
@import 'blocks/my-aside.styl';
@import 'blocks/t.styl';
@import 'blocks/disc-line.styl';
@import 'blocks/carts-container.styl';
@import 'blocks/good.styl';
@import 'blocks/my-basket.styl';
@import 'blocks/slider-recomend.styl';
@import 'blocks/inner-cart.styl';
@import 'blocks/inner-basket.styl';
@import 'blocks/footer-content.styl';
